//- Include header
include _includes/header
//- Header End =============== 
  
body
	h1 Gulp starter.
	p
	| A starter project including full setup for GulpJS, SASS, Autoprefixer & BrowserSync
	p
	| Wanna know about 
	a(href='https://gulpjs.com/') Gulp
	|  go to this site!





	//- Include Footer
	include _includes/footer
